<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="register-card">
        <mat-card-title>Register</mat-card-title>

        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="registerForm.get('name').hasError('required')">
                Full Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="registerForm.get('email').hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="registerForm.get('email').hasError('email')">
                Invalid email format
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="registerForm.get('password').hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profile Image</mat-label>
            <input type="file" (change)="onFileChange($event)" accept="image/*" formControlName="image">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Register</button>
    </mat-card>
</form>